Hello {{ name }}!
<form action="{{ path('fos_user_registration_register') }}" method="post">
    <div id="fos_user_registration_form"><div>
            <label for="fos_user_registration_form_email" class="required">Email:</label><input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" /></div><div>                <label for="fos_user_registration_form_username" class="required">Username:</label><input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" /></div><div>                <label for="fos_user_registration_form_plainPassword_first" class="required">Password:</label><input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" /></div><div>                <label for="fos_user_registration_form_plainPassword_second" class="required">Repeat password:</label><input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" /></div><div>                <label for="fos_user_registration_form_name" class="required">Name</label><input type="text" id="fos_user_registration_form_name" name="fos_user_registration_form[name]" required="required" maxlength="255" /></div><input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="Lkr-pC-32Uj5UkPTYqY_ps9ihevzAUS8Oeq-eV2uCDg" /></div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
